@page
@model Practice.Pages.Learning._2Model
@{
    <h2>2. типы данных (ссылочные, значимые, где и как хранятся)</h2>
    <img src="~/images/2.jpg">

    <h1>Основное различие между ссылочными и значимыми типами данных</h1>
    <p>
        Для значимых типов при копировании вы получаете новый экземпляр, содержащий копии значений исходного экземпляра.
        Иными словами, экземпляры ведут себя как значения, например, как числа. Если вы скопировали значение и изменили исходное значение,
        то эти изменения никак не отразятся на копии:
    </p>
    <pre><code>
    Point p1 = new Point(1, 2);
    Point p2 = p1; // (1, 2)
    p1.X = 100;
    // p2.X всё ещё равно 1
        </code></pre>

    <p>
        Для ссылочных типов копирование даёт вам новую ссылку на те же данные.
        Соответственно, если вы меняете объект ссылочного типа, то эти изменения становятся доступны по любой из ссылок на объект:
    </p>
    <pre><code>
    XElement e1 = new XElement("test") { Value = "hello" };
    XElement e2 = e1;
    e1.Value = "goodbye";
    // e2.Value стало равно "goodbye"
        </code></pre>
}
