@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome</h1>
    <p>Сайт обучалка. Наглядные примеры основных понятий C#</p>

    <i class="material-icons">home</i> <!-- Иконка "домик" -->
    <button class="btn waves-effect waves-light">Кнопка</button>

@*     <h2>2. типы данных (ссылочные, значимые, где и как хранятся)</h2>
    <h2>3. boxing/unboxing</h2>
    <h2>4. ref / out</h2>
    <h2>5. class/structure отличия</h2>
    <h2>6. абстракция и интерфейс</h2>
    <h2>7. static class and constructor</h2>
    <h2>8. async await</h2>
    <h2>9. dispose, finalize</h2>
    <h2>10. паттерны (хотя бы Abstract Factory, Factory Method, Strategy)</h2>
    <h2>11. garbage collector (что такое generation, когда происходит сборка мусора)</h2>
    <h2>12. LINQ</h2>
    <h2>13. IEnumerable, IQueryable</h2>
    <h2>14. Generic</h2>
    <h2>15. Делегаты, лямбда выражения</h2> *@
</div>
